* text=auto

LICENSE text eol=lf
*.gitattributes text eol=lf
*.gitconfig text eol=lf
*.gitignore text eol=lf

*.txt text eol=lf
*.md text eol=lf
*.html text eol=lf
*.css text eol=lf
*.json text eol=lf
*.JSON-tmLanguage text eol=lf
*.code-snippets text eol=lf
*.code-workspace text eol=lf
*.YAML-tmLanguage text eol=lf
*.plist text eol=lf
*.tmLanguage text eol=lf
*.tmPreferences text eol=lf
*.tmTheme text eol=lf
