<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>contactEmailRot13</key>
		<string>foo@example.com</string>
		<key>contactName</key>
		<string>Foo Bar</string>
		<key>description</key>
		<string>C# Syntax</string>
		<key>name</key>
		<string>C#</string>
		<key>source</key>
		<dict>
			<key>method</key>
			<string>git</string>
			<key>url</key>
			<string>git@github.com:dotnet/csharp-tmLanguage</string>
		</dict>
		<key>uuid</key>
		<string>E1E67E69-7C85-41EF-870B-9D501E6BAC31</string>
	</dict>
</plist>
