<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>foo@example.com</string>
	<key>contactName</key>
	<string>Foo Bar</string>
	<key>description</key>
	<string>PowerShell Syntax</string>
	<key>name</key>
	<string>PowerShell</string>
	<key>source</key>
	<dict>
		<key>method</key>
		<string>git</string>
		<key>url</key>
		<string>git@github.com:PowerShell/EditorSyntax</string>
	</dict>
	<key>uuid</key>
	<string>DB21D940-DE69-46D3-B8CC-31388E51D99C</string>
</dict>
</plist>
